<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="chat-container">
      <div class="chat-header">
          <div class="user-info">
              <div class="user-avatar">
                  <img src="{{ url_for('static', filename='profile_pictures/' + user.profile_picture) }}" alt="Profile Picture">
              </div>
              <div class="user-name">
                  {{ user.name }}
              </div>
          </div>
          <div>
              <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
          </div>
      </div>



      <div class="chat-messages" id="chat-messages">
        {% for message in messages %}
                     <div class="message {% if message.sender == 'user' %}sent{% else %}received{% endif %}">
                         <div class="message-content">
                             <p>{{ message.message }}</p>
                             <span class="message-time">{{ message.timestamp }}</span>
                         </div>
                     </div>
                 {% endfor %}
</div>

      <div class="chat-input-container">
          <textarea id="chat-input" placeholder="Type your message..."></textarea>
          <button id="send-button">Send</button>
      </div>
  </div>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
