@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #000000;
  --secondary: #09090b;
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999999;
  --accents-4: #888888;
  --accents-5: #666666;
  --accents-6: #444444;
  --accents-7: #333333;
  --accents-8: #111111;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chat-container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid var(--accents-2);
}

.user-info {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 12px;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-name {
  font-weight: 600;
}

.logout-btn {
  padding: 8px 12px;
  background-color: var(--accents-1);
  color: var(--accents-5);
  border: 1px solid var(--accents-2);
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.logout-btn:hover {
  background-color: var(--accents-2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}

.message {
  margin-bottom: 20px;
  max-width: 80%;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 14px;
  line-height: 1.5;
}

.message.received {
  margin-right: auto;
  background-color: var(--accents-1);
  color: var(--foreground);
}

.message.sent {
  margin-left: auto;
  background-color: var(--primary);
  color: var(--background);
}

.message-time {
  font-size: 12px;
  color: var(--accents-4);
  margin-top: 4px;
}

.chat-input-container {
  display: flex;
  padding: 20px;
  border-top: 1px solid var(--accents-2);
}

#chat-input {
  flex-grow: 1;
  padding: 12px 16px;
  border: 1px solid var(--accents-2);
  border-radius: 6px;
  font-size: 14px;
  resize: none;
}

#chat-input:focus {
  outline: none;
  border-color: var(--primary);
}

#send-button {
  margin-left: 12px;
  padding: 0 16px;
  background-color: var(--primary);
  color: var(--background);
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

#send-button:hover {
  background-color: var(--accents-7);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Scrollbar styling */
.chat-messages::-webkit-scrollbar {
  width: 6px;
}

.chat-messages::-webkit-scrollbar-track {
  background: transparent;
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: var(--accents-3);
  border-radius: 3px;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
  background-color: var(--accents-4);
}
