<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- Include necessary CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <style>
        :root {
            --background: #ffffff;
            --foreground: #000000;
            --primary: #000000;
            --accents-5: #666666;
            --accents-2: #e0e0e0;
            --accents-7: #444444;
        }

        body {
            background-color: var(--background);
            font-family: 'Inter', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            color: var(--foreground);
        }

        .container {
            width: 320px;
            background-color: var(--background);
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        }

        .form-header {
            text-align: center;
            margin-bottom: 30px;
        }

        .form-header h2 {
            font-size: 24px;
            font-weight: 700;
            color: var(--foreground);
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-group label {
            font-size: 14px;
            color: var(--accents-5);
        }

        .form-group input {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid var(--accents-2);
            border-radius: 5px;
            background-color: var(--background);
            color: var(--foreground);
            transition: border-color 0.2s ease-in-out;
        }

        .form-group input:focus {
            outline: none;
            border-color: var(--primary);
        }

        .btn-register {
            width: 100%;
            padding: 12px;
            background-color: var(--primary);
            color: var(--background);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            font-weight: 700;
            transition: background-color 0.3s, box-shadow 0.3s;
        }

        .btn-register:hover {
            background-color: var(--accents-7);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .login-link {
            text-align: center;
            margin-top: 20px;
            font-size: 14px;
            color: var(--accents-5);
        }

        .login-link a {
            color: var(--primary);
            text-decoration: none;
            font-weight: bold;
        }

        .login-link a:hover {
            text-decoration: underline;
        }

        .flash {
            margin-bottom: 15px;
            padding: 10px;
            border-radius: 5px;
            text-align: center;
            font-weight: 700;
        }

        .flash-success {
            background-color: #dff0d8;
            border-color: #d0e9c6;
            color: #3c763d;
        }

        .flash-error {
            background-color: #f2dede;
            border-color: #ebccd1;
            color: #a94442;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="form-header">
            <h2>Register</h2>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {% if category == 'error' %}flash-error{% else %}flash-success{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>

            <button type="submit" class="btn btn-register">Register</button>
        </form>
        <div class="login-link">
            <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
        </div>
    </div>
</body>
</html>
